{% extends 'base.html' %}
<div class="container">
{% block content %}
    <style>
    body {
      display: flex;
      align-items: left;
      justify-content: center;
      margin: 20 auto;
      height: 20vh;
      background-color: rgba(190, 179, 117, 0.425);;
    }
  </style>
    <section>
        <div class="container">
            <div class="about">
    I am Ataullah Behesti,living in Finland.
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
            </div>
        </div>
    </section>
{% endblock %}
</div>