{% extends 'base.html' %}
<div class="container">
{% block content %}
<section>
        <div class="container">
            <div class="about">
    {% csrf_token %}
    <h1> Charity Places </h1>
    {% for charity in charity %}
    <strong>{{ charity.charity_name }}</strong>
    <ul>
        <li>Name: {{ charity.charity_name }}</li>
        <li>Address: {{ charity.street_name }}</li>
        <li>Post Code: {{ charity.post_code }}</li>
        <li>City Name: {{ charity.district_name }}</li>
        <li>Phone No: {{ charity.contact_number }}</li>
        <li>Website: {{ charity.website }}</li>
        <li>Opening hours: {{ charity.open_hours }}</li>
        <li>Other Info: {{ charity.extra_info }}</li>
    </ul>

    {% endfor %}
            </div>
        </div>
</section>
{% endblock %}
</div>