{% extends 'base.html' %}
<div class="container">
    {% block content %}

    <section>
        <div class="container">
            <div class="donate">
        Contact
               <form method="post" action=".">
                   {% csrf_token %}
                   {{ form.as_p}}
               </form>
                <button>Submit</button>
                </div>
            </div>

    </section>
    <div class="footer">
        <p style="font-family:'Lucida Handwriting'">© 2022 ARB Creation </p>
    </div>
    {% endblock %}
</div>
