<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <!-- <a href="/" class="nav-branding">CharityFinder</a> -->
                <ul class="nav-menu">
                    <li class="nav-link"><a href="{% url 'index' %}">Home</a></li>
                    <li class="nav-link"><a href="{% url 'charity' %}">Charity</a></li>
                    <li class="nav-link"><a href="{% url 'about' %}">About</a></li>
                    <li class="nav-link"><a href="{% url 'donate' %}">Donate</a></li>
                </ul>
                <div class="search-container" >
                        <form method=POST action="{% url 'search_charity' %}">
                            {% csrf_token %}
                            <input type="text" placeholder="Search.." name="searched">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
            </nav>

        </div>
    </header>
</body>
</html>